body.page {
  background-color: $black;
}

section {
  &#main {
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 2em;
  }
  &.home, &.home + footer {
    top: 100vh;
  }
  &.default, &.default + footer {
    top: 40vh;
  }
}
